.MainBody {
  background-color: white;
}

.MainNav {
  background-color: #000fee;
  align-content: flex-start;
  flex-direction: column;
  height: 30%;
}
.NavElement {
  text-align: center;
}
.about-section {
  background-color: #f5f5f5;
  padding: 50px;
  margin: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .about-text {
  line-height: 1.6;
  color: #333;
 }
 
 .about-text p {
  margin-bottom: 20px;
 }

